@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--text-title);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background);
    min-height: 100vh;
}

main {
    height: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p,
label {
    color: var(--text-base);
    font-size: 20px;
}

input,
textarea {
    border: 2.5px solid var(--text-title);
    border-radius: 4px;
    background: transparent;
    color: var(--text-base);

    padding: 8px;
    margin-bottom: 15px;

    transition: 0.4s ease-in-out;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: var(--primary-color);
}


form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button {
    font-size: 20px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background: transparent;
    border-radius: 4px;

    padding: 20px;
    margin: 1rem 0.1rem 0.8rem 0;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px var(--primary-color);
    text-shadow: 0 0 10px var(--primary-color);
}

.line {
    border: 1px solid var(--text-title);
    margin-bottom: 0.4rem;
}

/*______________________________CONTAINER______________________________*/
.container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__container {
    height: auto;
    border: 2px solid var(--text-title);
    border-radius: 4px;
    padding: 25px 110px;
    background-color: var(--form-background);
}


.form__container h1 {
    color: var(--text-title);
    text-align: center;
    margin-bottom: 20px;
}