<!-- Esse é o layout principal, todos os arquivos handlebars do projeto ja vem com essa estrutura -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria</title>
  <link rel="stylesheet" type="text/css" href="/global.css" />

</head>
<body>
    <main>
        <div class="container">
            <div class="form__container">
                {{{body}}}
            </div>
        </div>
    </main>
</body>
</html>