<form action="/cliente/cadastrando" method="POST">
    <p>CPF do cliente: </p>
    <input type="text" name="cpfCliente" required>
    <p>Nome do cliente: </p>
    <input type="text" name="nomeCliente" required>
    <p>Senha: </p>
    <input type="password" name="senhaCliente" required>
    <p>Logradouro do cliente: </p>
    <input type="text" name = "logradouroCliente" required>
    <p>Bairro do cliente: </p>
    <input type="text" name="bairroCliente" required>
    <p>Cidade do cliente: </p>
    <input type="text" name="cidadeCliente" required>
    <p>Telefone do cliente: </p>
    <input type="text" name="telefoneCliente" required>
    <button type="submit">Cadastrar cliente</button>
</form>