<a href="/homeFunc"><button>Voltar</button></a>
<form action="/funcionario/cadastrando" method="POST">
    <label>CPF do funcionário: </label>
    <input type="text" name="cpf" required>
    <label>Nome do funcionário: </label>
    <input type="text" name="nome" required>
    <label>Senha: </label>
    <input type="password" name="senha" required>
    <label>Logradouro do funcionário: </label>
    <input type="text" name = "logradouro" required>
    <label>Bairro do funcionário: </label>
    <input type="text" name="bairro" required>
    <label>Cidade do funcionário: </label>
    <input type="text" name="cidade" required>
    <label>Telefone do funcionário: </label>
    <input type="text" name="telefone" required>
    <label>Cargo do funcionário: </label>
    <input type="text" name="cargo" required>
    <label>Salário do funcionário: </label>
    <input type="text" name="salario" required>
    <button type="submit">Cadastrar funcionário</button>
</form>
