<a href="/home"><button>Voltar</button></a>
<form action="/pedido/cadastrando" method="POST">
    <p>Id da pizza: </p>
    <input name = "idPizza" required>
    <p>Quantidade de pizzas: </p>
    <input type="text" name="quantidade" required>
    <button type="submit">Cadastrar pedido</button>
</form>