<h1>Tela principal</h1>
<a href="/pizza/cadastradas"><button>Ver pizzas</button></a>
<a href="/pedido/cadastro"><button>Fazer pedido</button></a>
<a href="/pedido/cadastrados"><button>Meus pedidos</button></a>
<a href="/cliente/dados"><button>Meus dados</button></a>
<a href="/usuario/logout"><button>Deslogar</button></a>