<form action="/usuario/logando" method="POST">
    <p>CPF: </p>
    <input type="text" name="cpfUsuario" required>
    <p>Senha: </p>
    <input type="password" name="senhaUsuario" required>
    <button type="submit">Logar</button>
</form>